{% extends 'blog/base.html' %}
{% load markdown_extras %}

{% block page_name %}Jake's CV{% endblock %}

{% block content %}
    <div id="education">
        <h2>Education</h2>
        {% for qualification in qualifications %}
            <div class="qualification">
                <div class="course">
                    {{ qualification.course }}
                </div>
                <div class="institution">
                    {{ qualification.institution }}
                </div>
                <div class="date">
                    {{ qualification.start_date | date:'M Y' }} to {{ qualification.end_date | date:'M Y' }}
                </div>
                <p>{{ qualification.text | linebreaksbr | markdown | safe }}</p>
            </div>
        {% endfor %}
    </div>
    <div id="skills">
        <h2>Technical Skills</h2>
        {% for skill in skills %}
            <div class="skill">
                <div class="name">
                    {{ skill.name }}
                </div>
                <p>{{ skill.text | linebreaksbr | markdown | safe }}</p>
            </div>
        {% endfor %}
    </div>
    <div id="employment_history">
        <h2>Work Experience</h2>
        {% for job in jobs %}
            <div class="job">
                <div class="employer">
                    {{ job.employer }}
                </div>
                <div class="job_title">
                    {{ job.job_title }}
                </div>
                <div class="date">
                    {{ job.start_date | date:'M Y' }} to {{ job.end_date | date:'M Y' }}
                </div>
                <p>{{ job.text | linebreaksbr | markdown | safe }}</p>
            </div>
        {% endfor %}
    </div>
    <div id="interests">
        <h2>Interests</h2>
        {% for interest in interests %}
            <div class="interest">
                <p>{{ interest.text | linebreaksbr | markdown | safe }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}

