{% extends 'blog/base.html' %}
{% load markdown_extras %}

{% block page_name %}Jake's CV{% endblock %}

{% block content %}
    <div id="education">
        <h2 class="section">Education</h2>
        {% if user.is_authenticated %}
            <a class="btn btn-outline-secondary float-right" href="{% url 'edit_qualification' %}">New</a>
        {% endif %}
        {% for qualification in qualifications %}
            <div class="qualification cv-block">
                <div class="h5 font-weight-bold">
                    <div class="course d-inline-block">
                        {{ qualification.course }}
                    </div>
                    -
                    <div class="institution d-inline-block">
                        {{ qualification.institution }}
                    </div>
                    |
                    <div class="date d-inline-block">
                        {{ qualification.start_date | date:'M Y' }} to {{ qualification.end_date | date:'M Y' }}
                    </div>
                </div>
                {{ qualification.text | linebreaksbr | markdown | safe }}
            </div>
        {% endfor %}
    </div>
    <div id="skills">
        <h2 class="section">Technical Skills</h2>
        {% if user.is_authenticated %}
            <a class="btn btn-outline-secondary float-right" href="{% url 'edit_skill' %}">New</a>
        {% endif %}
        {% for skill in skills %}
            <div class="skill cv-block">
                <div class="h5 font-weight-bold">
                    <div class="name">
                        {{ skill.name }}
                    </div>
                </div>
                {{ skill.text | linebreaksbr | markdown | safe }}
            </div>
        {% endfor %}
    </div>
    <div id="projects">
        <h2 class="section">Projects</h2>
        {% if user.is_authenticated %}
            <a class="btn btn-outline-secondary float-right" href="{% url 'edit_project' %}">New</a>
        {% endif %}
        {% for project in projects %}
            <div class="project cv-block">
                <div class="h5 font-weight-bold">
                    <div class="name d-inline-block">
                        {{ project.title }}
                    </div>
                    |
                    <div class="date d-inline-block">
                        {{ project.date | date:'Y' }}
                    </div>
                </div>
                <div class="link">
                    <a href="{{ project.link }}">Link</a>
                </div>
                {{ project.text | linebreaksbr | markdown | safe }}
            </div>
        {% endfor %}
    </div>
    <div id="employment_history">
        <h2 class="section">Relevent Experience</h2>
        {% if user.is_authenticated %}
            <a class="btn btn-outline-secondary float-right" href="{% url 'edit_job' %}">New</a>
        {% endif %}
        {% for job in jobs %}
            <div class="job cv-block">
                <div class="h5 font-weight-bold">
                    <div class="employer d-inline-block">
                        {{ job.employer }}
                    </div>
                    -
                    <div class="job_title d-inline-block">
                        {{ job.job_title }}
                    </div>
                    |
                    <div class="date d-inline-block">
                        {{ job.start_date | date:'M Y' }} to 
                        {% if job.end_date == None %}
                            Present
                        {% else %}
                            {{ job.end_date | date:'M Y' }}
                        {% endif %}
                    </div>
                </div>
                {{ job.text | linebreaksbr | markdown | safe }}
            </div>
        {% endfor %}
    </div>
    <div id="interests">
        <h2 class="section">Hobbies and Interests</h2>
        {% if user.is_authenticated %}
            <a class="btn btn-outline-secondary float-right" href="{% url 'edit_interest' %}">New</a>
        {% endif %}
        {% for interest in interests %}
            <div class="interest cv-block">
                {{ interest.text | linebreaksbr | markdown | safe }}
            </div>
        {% endfor %}
    </div>
{% endblock %}

