{% extends 'blog/base.html' %}

{% block page_name %}Jake's CV{% endblock %}

{% block content %}
    <div id="education">
        {% for qualification in qualifications %}
            <div class="qualification">
                <div class="institution">
                    {{ qualification.institution }}
                </div>
                <div class="date">
                    {{ qualification.start_date|date:'M Y' }} to {{ qualification.end_date|date:'M Y' }}
                </div>
                <p>{{ qualification.text }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}

