{% load static %}
<html>
<head>
    <title>{% block page_name %}Jake's Blog{% endblock %}</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <a class="navbar-brand" href="/">Jake's Site</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Blog </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cv_page' %}">CV</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'post_new' %}">Create Post</a>
                            <a class="dropdown-item" href="{% url 'post_draft_list' %}">Unpublished Posts</a>
                        </div>
                    </li>
                    <span class="navbar-text float-right">Hello {{ user.username }}</span>
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="content container" id="mainblock">
        <div class="row">
            <div class="col-md-9 offset-md-1">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
    <script type="text/javascript">
    var url = window.location;
    $('ul.navbar-nav a[href="'+ url +'"]').parent().addClass('active');

    $('ul.navbar-nav a').filter(function() {
        return this.href == url;
    }).parent().addClass('active');
    </script> 
</body>
</html>
